html {
  font-family: "Open Sans", sans-serif;
}

form {
  background-color: #fff;
}

label {
  display: block;
}

input, select, textarea {
  border: 1.5px solid #f2f2f2;
}

input, textarea {
  padding: .3em;
}

button {
  color: #000;
  background-color: #fff;
}

@media only screen and (min-width: 60em) {

  html {
    padding: 0;
  }

}
